In [20]:
#  Importar Libreria Pandas
import pandas as pd

#  Leer un archivo de Excel
convertir=pd.read_excel('CabildoPandas.xlsx')

#  Convertir a .csv
convertir.to_csv('CabildoPandas.csv',index=None, header=True)

#  Leer con Pandas el dataframe
df=pd.read_csv('CabildoPandas.csv')

#  Mostrar dataframe
df

,Unnamed: 0,PB- Secretaría Administrativa,PB- Oficina Director,PB- Boletería y Seguridad,Unnamed: 4,PB- Período Pre Hispánico I,Unnamed: 6,PB- Escribanía de Güemes,Unnamed: 8,PB- Período Pre Hispánico II,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,2024-11-27 13:00:00,28.17,28.10,27.88,48.89,27.51,52.87,27.95,52.07,27.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-27 13:15:00,28.94,29.72,28.49,48.84,28.89,52.23,30.14,50.15,30.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-11-27 13:30:00,29.37,30.80,28.20,50.41,29.32,51.42,31.00,49.29,30.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-11-27 13:45:00,29.67,31.08,29.54,49.87,29.99,51.38,31.36,49.36,31.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-11-27 14:00:00,30.29,31.36,30.98,48.96,30.75,51.61,31.74,50.29,31.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#  Mostrar información básica del dataframe
df.describe()

,PB- Secretaría Administrativa,PB- Oficina Director,PB- Boletería y Seguridad,Unnamed: 4,PB- Período Pre Hispánico I,Unnamed: 6,PB- Escribanía de Güemes,Unnamed: 8,PB- Período Pre Hispánico II,Unnamed: 10,...,PA- Arte Sacro Grande,ESTACIÓN METEOROLÓGICA,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 43,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 57
count,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,...,1908.000000,1999.000000,1999.000000,1999.000000,3.000000,3.000000,0.0,0.0,0.0,1.00
mean,24.565723,24.754623,25.142537,55.417180,28.389743,47.782731,25.441032,58.227741,25.054827,55.465566,...,25.409481,21.513057,71.901451,231.134997,1283.623333,24.966667,NaN,NaN,NaN,24.99
std,2.077110,1.889117,1.816807,5.312473,5.030861,10.777894,2.255144,6.381755,1.610748,4.629411,...,2.303802,4.860315,18.309971,343.636634,54.752226,1.354339,NaN,NaN,NaN,NaN
min,17.370000,17.610000,17.150000,39.070000,17.180000,24.820000,17.490000,40.040000,17.340000,41.710000,...,17.570000,12.800000,29.000000,0.000000,1230.440000,24.150000,NaN,NaN,NaN,24.99
25%,23.470000,23.790000,24.270000,52.705000,24.560000,37.460000,24.170000,53.615000,24.360000,52.877500,...,24.060000,17.850000,59.000000,0.000000,1255.525000,24.185000,NaN,NaN,NaN,24.99
50%,24.220000,24.510000,24.850000,56.455000,25.620000,52.150000,24.990000,59.715000,24.970000,56.365000,...,25.030000,20.300000,76.000000,20.000000,1280.610000,24.220000,NaN,NaN,NaN,24.99
75%,25.570000,25.670000,25.890000,59.330000,33.600000,56.580000,26.627500,63.222500,25.530000,59.242500,...,26.590000,24.900000,87.000000,392.010000,1310.215000,25.375000,NaN,NaN,NaN,24.99
max,35.770000,36.500000,36.250000,66.850000,39.520000,65.510000,36.960000,71.390000,36.390000,65.830000,...,35.970000,36.000000,98.000000,1339.820000,1339.820000,26.530000,NaN,NaN,NaN,24.99

In [22]:
#  Nuevo dataframe
newdf=df.copy()

In [25]:
#  Convertir la columna de fecha en tipo de dato fecha
newdf['Unnamed: 0']=pd.to_datetime(newdf['Unnamed: 0'])

In [27]:
#  Importar Libreria Matplotlib para poder graficar
import matplotlib.pyplot as plt

#  Grafico lineal

#  Editar el tamaño de la figura
plt.figure(figsize=(15,6))

# Datos para graficar
x= newdf['Unnamed: 0']
y= df['PB- Secretaría Administrativa']

x2= newdf['Unnamed: 0']
y2= df['PB- Oficina Director']

x3= newdf['Unnamed: 0']
y3= df['PB- Boletería y Seguridad']


#  Configuracion de las curvas
plt.plot(x,y,color='r',label='Secretaria Administrativa')
plt.plot(x2,y2,color='b',label='Oficina Director')
plt.plot(x3,y3,color='c',label='Boleteria y Seguidad')

#  Configuracion del gráfico
plt.xlabel('Fecha')
plt.ylabel('Temperatura [°C]')
plt.title('Temperatura Cabildo Verano')
plt.legend()

#  Configuracion de los ejes
plt.yticks([18,20,22,24,26,28,30,32,34,36])
plt.xticks(rotation=30)

#  Mostrar el gráfico
plt.show

In [28]:
# Grafico de dispersión

x3= df['Unnamed: 4']
y3= df['PB- Boletería y Seguridad']

plt.scatter(y3,x3,color='c')
plt.show()

In [29]:
#  Graficos lineales separados

fig, ax=plt.subplots(1,2,sharey=True)

ax[0].plot(x,y,color='g', label='Secretaria Administrativa')
ax[0].legend()

ax[1].plot(x,y,color='c',label='Oficina Director')
ax[1].legend()

plt.show()

In [10]:
#  Edición del dataframe
df=newdf
pd.set_option('display.max_rows',1907)
#   Para cambiar el tipo de dato de cada columna
df.columns
#   Tipo de dato de cada columna
newdf.dtypes
#   Revisar datos nulos
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 58 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1908 non-null   datetime64[ns]
 1   PB- Secretaría Administrativa  1908 non-null   float64
 2   PB- Oficina Director           1908 non-null   float64
 3   PB- Boletería y Seguridad      1908 non-null   float64
 4   Unnamed: 4                     1908 non-null   float64
 5   PB- Período Pre Hispánico I    1908 non-null   float64
 6   Unnamed: 6                     1908 non-null   float64
 7   PB- Escribanía de Güemes       1908 non-null   float64
 8   Unnamed: 8                     1908 non-null   float64
 9   PB- Período Pre Hispánico II   1908 non-null   float64
 10  Unnamed: 10                    1908 non-null   float64
 11  PB- Habitación textiles        1908 non-null   float64
 12  Unnamed: 12                    1908 non-null   object
 13  PB- Sala Revolución de Mayo    1908 non-null   float64
 14  Unnamed: 14                    1908 non-null   float64
 15  PB- Galería                    1908 non-null   float64
 16  Unnamed: 16                    1908 non-null   float64
 17  PB- Sala arquitectura          1909 non-null   float64
 18  Unnamed: 18                    1909 non-null   float64
 19  PB- Período Pre Hispánico III  1908 non-null   float64
 20  Unnamed: 20                    1908 non-null   float64
 21  PB- Oficina Administrativa     1907 non-null   float64
 22  Unnamed: 22                    1907 non-null   float64
 23  PA- Sala Arte Sacro Chica      1909 non-null   float64
 24  Unnamed: 24                    1909 non-null   float64
 25  PA- Reserva técnica            1908 non-null   float64
 26  Unnamed: 26                    1908 non-null   float64
 27  PA- Taller de Conservación     1909 non-null   object
 28  PA- Arte Sacro Grande          1908 non-null   float64
 29  ESTACIÓN METEOROLÓGICA         1999 non-null   float64
 30  Unnamed: 30                    1999 non-null   int64
 31  Unnamed: 31                    1999 non-null   float64
 32  Unnamed: 32                    3 non-null      float64
 33  Unnamed: 33                    3 non-null      object
 34  Unnamed: 34                    12 non-null     object
 35  Unnamed: 35                    16 non-null     object
 36  Unnamed: 36                    12 non-null     object
 37  Unnamed: 37                    12 non-null     object
 38  Unnamed: 38                    12 non-null     object
 39  Unnamed: 39                    15 non-null     object
 40  Unnamed: 40                    12 non-null     object
 41  Unnamed: 41                    12 non-null     object
 42  Unnamed: 42                    12 non-null     object
 43  Unnamed: 43                    3 non-null      float64
 44  Unnamed: 44                    1 non-null      object
 45  Unnamed: 45                    0 non-null      float64
 46  Unnamed: 46                    0 non-null      float64
 47  Unnamed: 47                    0 non-null      float64
 48  Unnamed: 48                    4 non-null      object
 49  Unnamed: 49                    6 non-null      object
 50  Unnamed: 50                    5 non-null      object
 51  Unnamed: 51                    5 non-null      object
 52  Unnamed: 52                    5 non-null      object
 53  Unnamed: 53                    6 non-null      object
 54  Unnamed: 54                    5 non-null      object
 55  Unnamed: 55                    5 non-null      object
 56  Unnamed: 56                    5 non-null      object
 57  Unnamed: 57                    1 non-null      float64
dtypes: datetime64[ns](1), float64(34), int64(1), object(22)
memory usage: 905.9+ KB

In [30]:
#  Mostrar nombre de las columnas
newdf.columns

Index(['Unnamed: 0', 'PB- Secretaría Administrativa', 'PB- Oficina Director',
       'PB- Boletería y Seguridad', 'Unnamed: 4',
       'PB- Período Pre Hispánico I', 'Unnamed: 6', 'PB- Escribanía de Güemes',
       'Unnamed: 8', 'PB- Período Pre Hispánico II', 'Unnamed: 10',
       'PB- Habitación textiles', 'Unnamed: 12', 'PB- Sala Revolución de Mayo',
       'Unnamed: 14', 'PB- Galería', 'Unnamed: 16', 'PB- Sala arquitectura',
       'Unnamed: 18', 'PB- Período Pre Hispánico III', 'Unnamed: 20',
       'PB- Oficina Administrativa', 'Unnamed: 22',
       'PA- Sala Arte Sacro Chica', 'Unnamed: 24', 'PA- Reserva técnica',
       'Unnamed: 26', 'PA- Taller de Conservación', 'PA- Arte Sacro Grande',
       'ESTACIÓN METEOROLÓGICA', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57'],
      dtype='object')

In [12]:
#  Conocer el numero de filas y columnas
newdf.shape

(1999, 58)

In [33]:
#  Modificar el tamaño del dataframe creando uno nuevo
newdf1=newdf.iloc[:1907,0:32]
newdf1.columns

Index(['Unnamed: 0', 'PB- Secretaría Administrativa', 'PB- Oficina Director',
       'PB- Boletería y Seguridad', 'Unnamed: 4',
       'PB- Período Pre Hispánico I', 'Unnamed: 6', 'PB- Escribanía de Güemes',
       'Unnamed: 8', 'PB- Período Pre Hispánico II', 'Unnamed: 10',
       'PB- Habitación textiles', 'Unnamed: 12', 'PB- Sala Revolución de Mayo',
       'Unnamed: 14', 'PB- Galería', 'Unnamed: 16', 'PB- Sala arquitectura',
       'Unnamed: 18', 'PB- Período Pre Hispánico III', 'Unnamed: 20',
       'PB- Oficina Administrativa', 'Unnamed: 22',
       'PA- Sala Arte Sacro Chica', 'Unnamed: 24', 'PA- Reserva técnica',
       'Unnamed: 26', 'PA- Taller de Conservación', 'PA- Arte Sacro Grande',
       'ESTACIÓN METEOROLÓGICA', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [34]:
#  Cambiar el nombre de las columnas
newCol=['Fecha', 'Secretaría Administrativa', 'PB- Oficina Director',
       'PB- Boletería y Seguridad', 'HR Bol y Seg',
       'PB- Período Pre Hispánico I', 'HR PRE H I', 'PB- Escribanía de Güemes',
       'HR Güemes', 'PB- Período Pre Hispánico II', 'HR PRE H II',
       'PB- Habitación textiles', 'HR Textiles', 'PB- Sala Revolución de Mayo',
       'HR Rev Mayo', 'PB- Galería', 'HR Galeria', 'PB- Sala arquitectura',
       'HR Arq', 'PB- Período Pre Hispánico III', 'HR PRE H III',
       'PB- Oficina Administrativa', 'HR Oficina Adm',
       'PA- Sala Arte Sacro Chica', 'HR Arte Sacro ch', 'PA- Reserva técnica',
       'HR Arte Sacro gr', 'PA- Taller de Conservación', 'PA- Arte Sacro Grande',
       'ESTACIÓN METEOROLÓGICA', 'HR E Met', 'Rad  E Met']

In [35]:
#  Asignar nuevos nombres a las columnas
newdf1.columns=newCol

#  Mostrar las primeras 5 filas
newdf1.head()

#  Mostrar las ultimas 5 filas
newdf1.tail()

,Fecha,Secretaría Administrativa,PB- Oficina Director,PB- Boletería y Seguridad,HR Bol y Seg,PB- Período Pre Hispánico I,HR PRE H I,PB- Escribanía de Güemes,HR Güemes,PB- Período Pre Hispánico II,...,HR Oficina Adm,PA- Sala Arte Sacro Chica,HR Arte Sacro ch,PA- Reserva técnica,HR Arte Sacro gr,PA- Taller de Conservación,PA- Arte Sacro Grande,ESTACIÓN METEOROLÓGICA,HR E Met,Rad E Met
1902,2024-12-17 08:30:00,21.72,22.15,23.83,52.40,23.83,53.25,22.94,61.99,23.93,...,61.40,23.10,48.71,22.39,56.65,21.44,22.72,18.8,72,399.54
1903,2024-12-17 08:45:00,21.68,22.15,23.62,52.74,25.11,53.24,23.02,61.85,23.45,...,61.10,23.10,48.71,22.37,56.65,21.39,22.72,19.1,69,453.73
1904,2024-12-17 09:00:00,21.68,22.03,23.59,53.21,26.43,50.43,22.78,59.09,23.40,...,61.35,23.10,48.74,22.37,56.71,21.37,22.72,19.3,69,508.92
1905,2024-12-17 09:15:00,21.32,22.00,22.63,54.80,27.06,49.65,22.01,59.46,23.18,...,58.72,23.10,48.85,22.37,56.81,21.37,22.91,19.7,67,564.11
1906,2024-12-17 09:30:00,21.53,21.89,21.99,56.10,23.95,49.82,21.96,58.62,22.03,...,57.13,22.53,50.71,22.42,56.78,21.6,23.58,19.7,67,614.29

In [36]:
#  Usar la columna de fecha como índice
newdf1.set_index('Fecha',inplace=True)

#  Mostar el nuevo dataframe
newdf1.head()

,Secretaría Administrativa,PB- Oficina Director,PB- Boletería y Seguridad,HR Bol y Seg,PB- Período Pre Hispánico I,HR PRE H I,PB- Escribanía de Güemes,HR Güemes,PB- Período Pre Hispánico II,HR PRE H II,...,HR Oficina Adm,PA- Sala Arte Sacro Chica,HR Arte Sacro ch,PA- Reserva técnica,HR Arte Sacro gr,PA- Taller de Conservación,PA- Arte Sacro Grande,ESTACIÓN METEOROLÓGICA,HR E Met,Rad E Met
Fecha,,,,,,,,,,,,,,,,,,,,,
2024-11-27 13:00:00,28.17,28.10,27.88,48.89,27.51,52.87,27.95,52.07,27.55,51.57,...,49.97,28.75,43.21,27.83,49.78,27.7,28.36,27.1,39,993.0
2024-11-27 13:15:00,28.94,29.72,28.49,48.84,28.89,52.23,30.14,50.15,30.34,50.46,...,51.63,29.65,40.87,28.64,48.73,29.59,29.65,27.2,38,1064.0
2024-11-27 13:30:00,29.37,30.80,28.20,50.41,29.32,51.42,31.00,49.29,30.87,49.27,...,50.57,29.65,42.09,28.35,50.30,30.42,30.36,27.4,35,1063.0
2024-11-27 13:45:00,29.67,31.08,29.54,49.87,29.99,51.38,31.36,49.36,31.26,48.99,...,50.92,29.95,43.15,29.29,50.29,30.85,30.66,27.9,34,1079.0
2024-11-27 14:00:00,30.29,31.36,30.98,48.96,30.75,51.61,31.74,50.29,31.64,49.33,...,51.11,30.76,44.37,30.52,49.97,31.79,30.86,27.5,39,1152.0

In [37]:
#  Crear nuevo dataframe eliminando 1 columna de datos
df2=newdf1.drop(columns=['Rad  E Met'])
df2.plot()

In [38]:
#  Importar PyQt6 (con "pip install") para abrir el grafico en una ventana nueva
%matplotlib qt'
df2.plot()

In [51]:
dfHR1= newdf1.drop(columns=['Secretaría Administrativa', 'PB- Oficina Director',
       'PB- Boletería y Seguridad','PB- Período Pre Hispánico I','PB- Escribanía de Güemes',
       'PB- Período Pre Hispánico II','PB- Habitación textiles','PB- Sala Revolución de Mayo',
       'PB- Galería','PB- Sala arquitectura','PB- Período Pre Hispánico III','PB- Oficina Administrativa',
       'PA- Sala Arte Sacro Chica','PA- Reserva técnica','PA- Taller de Conservación', 'PA- Arte Sacro Grande',
       'ESTACIÓN METEOROLÓGICA', 'Rad  E Met'])
dfT1= newdf1.drop(columns=['HR Bol y Seg','HR PRE H I','HR Güemes', 'HR Textiles','HR Rev Mayo', 'PB- Galería', 'HR Galeria', 'PB- Sala arquitectura',
       'HR Arq','HR PRE H III','HR Oficina Adm','HR Arte Sacro ch', 'HR Arte Sacro gr','HR E Met','HR PRE H II','Rad  E Met'])
dfT1.plot()
dfHR1.plot()

In [65]:
#  Agregar una nueva columna y calcular el CMA (Centered Moving Average)
dfT1['CMA']=dfT1['ESTACIÓN METEOROLÓGICA'].rolling(window=96, center=True).mean()

dfT1.plot()